/* .moveIcon {
    padding-left: 7px;
} */

h2{
   display: flex;
   flex-direction:column;
   align-items: center;
   font-family: 'Fredericka the Great', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 90px;
    /* text-decoration: underline solid 2px; */
}
.index{
    background-image: url('../Assets/IndexWhite.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size:566px 399px; 
    width: 550px; 
    height: 399px; 
    box-shadow: 0px 5px 20px 10px rgba(2, 2, 2, 0.625);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.carousel{
    overflow: visible;
     position: relative; 
     right: 100px; 
     perspective: 4800px;
}

.header{
    font-size: 35px;
    position: inherit;
    right: -17px;
}

.white-text{
    color: #2196f3 !important
}

.btn-floating {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 40p;
    padding: 13px;
    background-color: #26a69a;
    border-radius: 90%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    cursor: pointer;
    vertical-align: middle;
}

.divider{
    width:10px;
    height:auto;
    display:inline-block;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 29px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}

.btn-floating i {
    width: auto;
    display: inline-block;
    /* text-align: center; */
    color: #fff;
    font-size: 48px;
    line-height: 48px;
    /* display: flex; */
    position: relative;
    left: 5px;

} 


/* for the card on the left */
element.style {
    transform: translateX(501.5px) translateY(100px) translateX(-205px) translateZ(-200px);
    z-index: -1;
    opacity: 0.633333;
    visibility: visible;
}

.navbarMain {
    display: flex;
    height: 747px;
    float: left;
    width: 20%;
    align-items: center;
    /* position: fixed; */
    transform: translateX(-20%);
}

.card .card-action {
    background-color: transparent;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: -2px -2px;
}

.card .card-title {
    font-size: 46px;
    text-decoration: underline dashed 6px rgb(242, 242, 2);
    font-weight: 300;
    position: relative;
    top: -54px;
}

.card .card-content {
    padding: 42px;
    border-radius: 0 0 2px 2px;
}

