.signUpPopUp{
    position: relative;
    height: 600px;
    width: 628px;
    min-width: 500px;
    background-image: url('../Assets/greenSticky.png');
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    
}

.popup-inner{
    position: relative;
    left: 15px;
}

#signUpHead{
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    text-decoration: underline wavy black 1px;;
    position: relative;
    left: 180px;
    top: -39px;
    text-shadow: 2px 2px rgb(244, 135, 250);
}

#formSignUp{
    line-height: 2.5;
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 37px;
    position: relative;
    top: -82px;
    left: 62px;
}

.popup-inner .submit-btn{
    /* text-decoration: underline wavy black 1px; */
    font-family: 'Amatic SC', cursive;
    font-size: 52px;
    position: relative;
    bottom: -19px;
    right: 161px;
    border: lightskyblue 9px dotted;
    text-shadow: 2px 2px lightskyblue;

}

.popup-inner .submit-btn:hover{
    cursor: pointer;
    /* box-shadow: 0px 9px 7px -5px rgb(26, 26, 26); */
    transform: scale(1.25);
}

input[type="text" i] {
    /* padding: 1px 2px; */
    line-height: 1.25;
    font-size: 30px;
}

input {
    writing-mode: horizontal-tb !important;
    font-family: 'Amatic SC', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    /* font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ; */
    text-rendering: auto;
    color: -internal-light-dark(black, rgba(255, 255, 255, 0.221));
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 3px;
    text-shadow: none;
    display: relative;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(166, 241, 242), rgb(59, 59, 59));
    /* left: 2px; */
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    
    
}

