.loginPopup{ 
    /*position: relative;
     height: 398px;
    width: 628px;
    min-width: 500px; */
    display: flex;
    box-shadow: 2px;
} 

.loginPopup-inner{
    position: relative;
}

#loginHead{
    font-family: 'Amatic SC', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    text-decoration: underline solid black 3px;
    position: relative;
    left: 88px;
}

#formLogin{
    line-height: 1.75;
    font-family: 'Amatic SC', cursive;
    font-weight: 585;
    font-size: 36px;
    position: relative;
    bottom: 32px;
    text-decoration: underline solid black 2px;
}

input {
    background-color: white ;
}

.login-btn{
    font-family: 'Amatic SC', cursive;
    position: relative;
    left: 80px;
    text-decoration: underline solid black 3px;
    font-size: 72px;
    /* text-shadow: 3px 3px rgb(5, 225, 141); */
}

input[type=text]:not(.browser-default) {
    border-bottom: 2px solid black;
}