.loginPopup{ 
    /*position: relative;
     height: 398px;
    width: 628px;
    min-width: 500px; */
   
     
    display: flex;
    box-shadow: 2px;
} 

.loginPopup-inner{
    position: relative;
    left: 5px;
}

#loginHead{
    font-family: 'Amatic SC', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    text-decoration: underline solid black 3px;
    position: relative;
    left: 102px;
}

#formLogin{
    line-height: 2;
    font-family: 'Amatic SC', cursive;
    font-weight: 515;
    font-size: 31px;
    position: relative;
    bottom: 32px;
    text-decoration: underline solid black 1px;
}

input {
    background-color: white ;
}

.login-btn{
    font-family: 'Amatic SC', cursive;
    position: relative;
    
    
    text-decoration: underline dotted black 2px;
    /* text-shadow: 3px 3px rgb(5, 225, 141); */
}