.loginPopup{ 
    position: relative;
    top: 24px;
    right: 100px;
    height: 360px;
    width: 480px;
    min-width: 480px;
    background-image: url(../Assets/dinoSticky.png);
    background-size: 480px 360px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
} 

.loginPopup-inner{
    position: relative;
    right: 7px;
    top: 2px;
    line-height: 20px;
    padding: 3px;
}

#loginHead{
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-weight: 100;
    font-size: 54px;
    text-decoration: underline dotted black 2px;
    position: relative;
    left: 9px;
    top: -37px;
}

#formLogin{
    line-height: 2.5;
    font-family: 'Josefin Slab', serif;
    font-weight: 585;
    font-size: 34px;
    position: relative;
    bottom: 32px;
    right: -21px;
    text-decoration: underline dotted black 2px;
}

input {
    background-color: white ;
}

.login-btn{
    font-family: 'Josefin Slab', serif;
    position: relative;
    left: 138px;
    top: -5px;
    text-decoration: underline dotted black 2px;
    font-size: 54px;
    
}

.login-btn:hover{
    cursor: pointer;
    /* box-shadow: 0px 9px 7px -5px rgb(26, 26, 26); */
    transform: scale(1.25);
}

input[type=text]:not(.browser-default) {
    border-bottom: 2px solid rgb(0, 0, 0);
}

#xbut {
    background: transparent;
    border: 0px;
    height: 5%;
    top: -10px;
    left: 20px;
    position: absolute;
  }
